@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
    margin: 0;
}

.manu-pasword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: cambiarFondo 3s linear infinite alternate-reverse;
    background-size: 200% auto;
    background-image: linear-gradient(to top,
            #ffacf6,
            #cec4ff,
            #8bdaff,
            #4decff,
            #53f7ff,
            #60faf5,
            #70fdeb,
            #81ffe1,
            #71ffe6,
            #5dffec,
            #43fff2,
            #0efff9);
    transition: background-image 0.5s ease;
}

.manu-pasword:hover {
    background-image: linear-gradient(to top,
            #ffacf6,
            #ffb4ee,
            #ffbde8,
            #ffc6e5,
            #ffd0e3,
            #ffd4ec,
            #fed8f6,
            #fbdcff,
            #dee2ff,
            #a4edff,
            #52f8ff,
            #0efff9);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .img-card {
    max-width: 60%;
    max-height: 60%;
}


.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(136, 123, 123);
    font-family: 'Segoe UI';
    margin-top: 10px;
    margin-bottom: 20px;
}

.opciones {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

}

.obtenerSeleccion {
    margin-top: 10px;
    font-size: 15px;
    background-color: #0a72a2;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

.obtenerSeleccion:hover {
    background-color: blue;
}

.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(136, 123, 123);
    font-family: 'Segoe UI';

}